# NOTE: This file is auto generated by OpenAPI Generator 7.5.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule OuraApi.Api.HeartRateRoutes do
  @moduledoc """
  API calls for all endpoints tagged `HeartRateRoutes`.
  """

  alias OuraApi.Connection
  import OuraApi.RequestBuilder

  @doc """
  Multiple Heart Rate Documents

  ### Parameters

  - `connection` (OuraApi.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:start_datetime` (DateTime.t):
    - `:end_datetime` (DateTime.t):
    - `:next_token` (String.t):

  ### Returns

  - `{:ok, OuraApi.Model.HeartRateResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec multiple_heart_rate_documents_v2_usercollection_heartrate_get(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, OuraApi.Model.HeartRateResponse.t} | {:ok, OuraApi.Model.HttpValidationError.t} | {:error, Tesla.Env.t}
  def multiple_heart_rate_documents_v2_usercollection_heartrate_get(connection, opts \\ []) do
    optional_params = %{
      :start_datetime => :query,
      :end_datetime => :query,
      :next_token => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/v2/usercollection/heartrate")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, OuraApi.Model.HeartRateResponse},
      {400, false},
      {401, false},
      {403, false},
      {429, false},
      {422, OuraApi.Model.HttpValidationError}
    ])
  end
end
